* {
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0px 0px;
    background: #E5E5E5;
}

h2{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    margin: 0px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.header{
    margin: 0px;
    height: inherit;
    height: 177px;
    width: 100%;
    padding: 0px;
    background-color:#fff;
}

.header__bottom-bg{
    background-color:#CD261A;
    width: 100%;
    height: 93px;
}

.header__top{
    max-width: 1599px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    height: 84px;

}

.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
}

.menu__item{
    margin-right: 53px;
}

.menu__link{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
    &:hover{
        border-bottom: 2px solid #000 ;
    }
}

.header__bottom{
    background-color: #CD261A;
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__catalog{
    text-align: left;
    border-right: 2px solid #FFFFFF;
    padding: 15px 65px 15px 35px;
}

.menu__catalog-link{

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
}

.header__search{
    width: 50%;
    height: 50%;
    border: inherit;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    background-color: #fff;
}

.header__search-input{
    width: 90%;
    height: 90%;
    border: none;
    border-radius: 6px;
    text-align:right;
    &:focus{
            text-align:left;
            outline: none;
        }
}

.header__search-buttom{
    background-color: white;
    color: #959595;
    border: none;
    background: url("../images/search.png") no-repeat;
    height: 24px;
    width: 24px;
    cursor: pointer !important;
    margin: auto;
    border-radius: 6px;
    &:focus{
        outline: none;
    }
    &:hover{
    }
}

.header__language{
    margin-right: 63px;
}

.header__language-link{
    color: #fff;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: 300;
    &:hover{
        border-bottom: 2px solid #fff ;
    }
}

.header__lenguage-merge{
    color: #fff;
    font-weight: normal;
    margin: 0px 10px;
}


.lenguage__select{
    font-weight: 600;
}

.content{
    margin-top: -93px;
    padding-bottom: 150px;
}

.container{
    background-color: #fff;
    width: 1485px;
    margin-left: auto;
    margin-right: auto;
}

.cardproducts{
    background-color: #fff;
}

.cardproduct{
    width: 341px;
    height: 505.13px;
    background: #FFFFFF;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.25);
    border-radius: 7.49451px;
    display:inline-block;
    margin: 21px 9px;
    &:hover{
        background: #F8F8F8;
        cursor: pointer !important;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    }
}

.cardproduct__image{
    margin: 21px 15px 0px 15px;
    border-radius: 6px;

}

.cardproduct__content{
    margin: 0px 15px 15px 15px;
    padding: 0px;
}

.cardproduct__content-text{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 27px;
}

.cardproduct__content-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.cardproduct__content-price{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.cardproduct__content-link{
    width: 50%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background-color: #CD261A;
    transition: all .6s ease-in-out;
    border-radius: 4px;
    padding: 12px 0px 12px 0px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
        &:hover{
            background-color:brown;
            transition: all .2s ease-in-out;
    }
}

.product__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.filter{
    width: 550px;
    height: 1054px;
    background: #FFFFFF;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    margin-right: 12px;
    padding-left: 50px;
    padding-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.navigation{
    margin-left: 100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.navigation__title{
    background-color: #fff;
}

.breadcrumb__list{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb__item{
    position: relative;
    margin-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
}

.breadcrumb__item ~ .breadcrumb__item:before{
    position: absolute;
    content: url("../images/breadcrumbs_arrow.png");
    width: 20px;
    height: 20px;
    left:-18px;
}

.breadcrumb__link{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
    &:hover{
        color: rgba(0, 0, 0, 1);
        border-bottom: solid 1px #000;
    }
}

.title{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color:#000;
}

.filter-title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.filter__checkbox{
    margin-right: 20px;
    border-radius: 5px;

}

.view__more{
    background-color: #fff;
    padding-top: 43px;
    text-align: center;
    height: 100px;
}

.view__more-link{
    color: #CD261A;
    border: solid 1px #CD261A;
    padding: 10px 20px;
    transition: all .6s ease-in-out;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    box-shadow: 3px 3px 4px rgba(255, 0, 0, 0.25);
    border-radius: 5px;
    &:hover{
        background-color: #CD261A;
        color: #fff;
        transition: all .2s ease-in-out;
    }
}

.content__info{
    margin: 0px 29px 0px 29px;
    padding-top: 43px;
    background-color: #F8F8F8;
    padding: 59px;
    column-count: 2;
    column-gap: 65px;
    border-radius: 5px;
}

.cardproduct__menu{
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.cardproduct__menu-item{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    margin: 10px 2px;
    border-bottom: solid 5px #fff;
    >a{
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #CD261A;
    }
    &:hover{
        border-bottom: solid 5px rgba(209, 27, 27, 0.5);
        cursor: pointer !important;
    }
}

.cardproduct__menu-select{
    border-bottom: solid 5px #cd261a;
}

.productcard{
    padding: 28px 27px 40px 55px;
    display: flex;
    justify-content:flex-start;
}

.productcard__about-title{
    margin: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
}

.raiting{
    padding: 15px 0px 0px 0px;
}

.raiting__star:before{

    content: url("../images/Star.png");


}

.productcard__about-text{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    span{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
    }
}

.productcard__about-buttons{
    padding: 0px 20px;
    margin-top: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.productcard__about{
    margin: 0px 0px 0px 27px;
}

.productcard__about-price{

    vertical-align: middle;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
}



.button__red{
    line-height: 69px;
    width: 301px;
    text-align: center;
    background: #CD261A;
    box-shadow: 6px 6px 4px rgba(255, 57, 57, 0.5);
    font-style: 200;
    font-weight: bold;
    font-size: 24px;
    color:#fff;
    &:hover{
        box-shadow: 2px 2px 4px rgba(255, 57, 57, 0.5);
    }
}

.button__white{
    line-height: 69px;
    width: 301px;
    text-align: center;
    background: #fff;
    box-shadow: 6px 6px 4px rgba(255, 57, 57, 0.5);
    font-style: 200;
    font-weight: bold;
    font-size: 24px;
    color: #CD261A;
    border: 1px solid #CD261A;
    &:hover{
        box-shadow: 2px 2px 4px rgba(255, 57, 57, 0.5);
    }
}

.cardproduct__table{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 20px 20px;
    tr{
        text-align: left;
        th{
            padding: 20px 50px;
        }
    }

    tr th ~ th{
        font-weight: 300;
        width: 76%;
        padding: 20px 5px;
        text-align: left;
    }

    tr:nth-of-type(even){
        background-color:  #F3F3F3;
    }
}

.cardproduct__table-rubrica th{
text-align: left;
padding-left: 50px;

}


.product__table{
    border-spacing: 0px;
    text-align: center;
    height: 250px;
    box-shadow: (4px 4px 10px rgba(0, 0, 0, 0.25));


}

.product__table-head{

    td{
    background-color: #CD261A;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 10px 40px;
    }
}

.product__table-text{
    td{
        text-align: center;
    }
}