.header{
    background-image: url(../img/Group17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
    color: #fff;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

body{
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.header__top{
    padding: 47px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone{
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}

.header__content{
    padding-top: 60px;
    position: relative;
}

.header__title{
    font-size: 72px;
    font-weight: 400;
    line-height: 107px;
    text-transform: uppercase;
}

.header__subtitle{
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    font-weight: 400;
}

.header__text{
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 800px;
}

.button{
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 16px 54px;
    background-color: #ac0505;
    transition: all .5s;
}

.button:hover{
    color: #5A0D67;
    background-color: #fff;
}

.header__social{
    padding: 70px 0 20px 50px;
}

.social{
    display: flex;
    align-items: center;
}

.social__link{
    margin: 0 5px;
}

.header__image{
    position: absolute;
    right: 0;
    bottom: -260px;
}

.services{
    color: black;
    padding-top: 350px;
}

.title{
    color: #000263;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
}

.title::after{
    content: '';
    width: 80px;
    height: 3px;
    background-color: #000263;
    position: absolute;
    top: 20px;
    margin-left: 20px;
}

.services__inner{
    display: flex;
    margin-bottom: 100px;
}

.services__content{
    width: 505px;
    margin-right: 96px;
}



.services__content-title{
    color: #ac0505;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
}

.services__content-textbox{
    margin-bottom: 57px;
}
.services__content-text{
    margin-bottom: 12px;
    line-height: 27px;

}

.button--decor{
    color: white;
    margin-bottom: -7px;
    position: relative;
}

.button--decor::after{
    content: 'ЖМИ';
    color:#C4C4C4;
    position: absolute;
    margin-left: 130px;
}

.button--decor::before{
    content: '';
    background-color: #C4C4C4;
    position: absolute;
    width: 80px;
    height: 2px;
    right: -65px;
    top: 24px;
}

.services__list{
    list-style: none;
    counter-reset: my-counter;
}

.services__item{
    counter-increment: my-counter;
    border: 2px solid #C4C4C4;
    margin-bottom: 12px;
    width: 450px;
    padding: 10px 15px 10px 113px;
    position: relative;
    transition: all .5s;
}

.services__item::before{
    content: '0' counter(my-counter);
    position: absolute;
    left: 20px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: #C4C4C4;
    transform: rotate(270deg);
    transition: all .5s;
}

.services__item-title{
    font-size: 24px;
    font-weight: 300;
}

.services__item:hover::before{
    color: #ac0505;
}

.services__item:hover{
    border: 2px solid #5A0D67;
    width: 500px;
}

.services__item-title{
    font-style: 24px;
    font-weight: 300;
}

.benefits{
    margin-bottom: 100px;
}

.benefits__inner{
    display: flex;
}

.benefits__imge{
    margin-right: 95px;
}

.benefits__content{
    width: 100%;
    color: #fff;

}

.benefits__title{
    margin-left: 280px;
}

.benefits__list{
    list-style: none;
    background-color: #000263;
    padding: 25px 0 25px 185px;
    margin-left: 95px;
}

.benefits__item{
    width: 320px;
    margin-bottom: 20px;
}

.benefits__item-num{
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}

.benefits__item-title{
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}

.benefits__item-text{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
}

.carousel{
    margin-bottom: 100px;
    color: black;
    padding-bottom: 50px;
}

.carousel__inner{
    margin: 0 7px;
}

.carousel__item{
    margin: 0 7px;
}

.carousel__item-box{
    border: 1px solid #C4C4C4;
    padding: 6px 6px 16px 6px;
    text-align: center;
}

.carousel__item-box:hover{
    background-color: #120075;
    color: #fff;
    border-color: #000263;
    transition: all .5s;

}

.carousel__item-img{
    max-width: 100%;
    margin-bottom: 23px;
}

.carousel__item-title{

    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.carousel__item-text{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.carousel .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}

.carousel .slick-dots button{
    border: none;
    font-size: 0;
    padding: 0;
    margin: 0 10px;
    background-color:#C4C4C4;
    width: 50px;
    height: 1px;
}

.carousel .slick-active button{
    background-color:#ac0505;
    height: 3px;
}


.contacts__inner{
    display: flex;
    justify-content: space-between;
    color: #000263;
}

.contacts__item-title{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #ac0505;

}

.contacts__list{
    list-style: none;
}

.contacts__form{
    background-color:#000263;
    padding: 50px 75px 57px;
    text-align: center;
}

.contacts__item{
    margin-bottom: 20px;
}

.contacts__title{
    color: #fff;
    margin-bottom: 16px;
    margin-left: 53px;
    text-align: left;
}

.contacts__title::after{
    background-color: #fff;
}

.contacts__input{
    background-color: transparent;
    width: 450px;
    height: 75px;
    color:#C4C4C4;
    border: 1px solid #fff;
    margin-bottom: 12px;
    display: block;
    font-style: 24px;
    padding: 0 15px;
    text-align: center;
}

.contacts__input::placeholder{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
}

.contacts__btn{
    border: none;
    color: #fff;
    margin-top: 78px;
    cursor: pointer;
}

.footer{
    background-color:#00013d;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100px;
}


